@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
  }

@keyframes flickerDark {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #bc13fe,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe,
      0 0 200px #bc13fe;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #bc13fe,
      0 0 11px #bc13fe,
      0 0 19px #bc13fe,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #bc13fe,
      0 0 10px #bc13fe,
      0 0 18px #bc13fe,
      0 0 38px #bc13fe,
      0 0 73px #bc13fe,
      0 0 80px #bc13fe,
      0 0 94px #bc13fe,
      0 0 140px #bc13fe;
  }
}

@layer components{
  .neonDark{
    color: #fff;
    

    animation: flickerDark 1.5s infinite alternate;
  }

  .neon{
    color: #fff;
    

    animation: pulsate 0.11s ease-in-out infinite alternate;
  }
}